
@keyframes list-item-anime {
  from {
    background: rgb(255, 234, 234);
    transform: translateX(.5rem) scale(1);
  }
}

@keyframes bulge {
    0% {
        border-radius: 50%;
        transform: scale(1.3) rotate(0deg);
        opacity: .2;
    }
    50% {
        border-radius: 20%;
        transform: scale(.7) rotate(360deg);
        opacity: 1;
    }
    100% {
        border-radius: 50%;
        transform: scale(1.3) rotate(0deg);
        opacity: .2;
    }
}