
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Lxnd;

  &:focus {
    outline: .15rem groove rgba(156, 213, 248, 0.5);
  }
}

body {
  overflow-x: hidden;
  background: whitesmoke;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darken($violet, 10%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

li {
  list-style-type: none;
}

button {
  font-family: $IPSA;
}