
.show-additional-inputs {
    background: transparentize($violet, .2);
    border: none;
    border-radius: 50%;
    font-weight: 700;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    width: 5rem;
    height: 5rem;
    bottom: 5rem;
    right: 1rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Lora;

    &:active {
        background: darken($violet, 15%);
    }
}
