
.change-username {
    &-container {
       position: fixed;
       top: 5px;
       right: 5px;
       z-index: 4;
    }
    padding: .5rem 1rem;
    background: midnightblue;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &:active {
        background: rgb(15, 15, 66);
    }
}


.show-fact {
    display: none;
    position: fixed;
    top: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    right: 5px;
    z-index: 1;
    background-color: whitesmoke;
    padding: 0 .15rem;
    margin: .2rem 0;
    cursor: pointer;
    font-size: .7rem;
}