
.username {
    &-container {
        z-index: 5;
        backdrop-filter: blur(10px);
    }
      
    height: 14rem;
    @include modal-template;

    &-input{
        height: 3rem;
        margin: 1rem;
        @include modal-inputs;
    }

    &-warning {
        display: none;
        margin: 0 .8rem;
    }

    &-btn {
        width: 40%;
        height: 2.8rem;
        margin: 1rem;
        @include btn-confirm;
    }
}


.online {
    position: fixed;
    top: 5.2rem;
    left: 1.2rem;
    z-index: 2;
    font-size: 1rem;
    background: whitesmoke;
    max-height: 4.5rem;
    padding: .3rem .6rem;
    overflow-y: auto;
}